<div class="row">
    <div class="col s12 m1">
        &nbsp;
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="right" data-delay="50" data-tooltip="we can service any car or van to the manufacturers specification with prices starting from £49 call us for a quote for your vehicle now.">local_car_wash</i>
        <br />Service / MOT
    </div>

    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="bottom" data-delay="50" data-tooltip="Brake fluid changes are due every 24months on most vehicles we offer this service from
£38">invert_colors_off</i><br />Brake fluid servicing
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="bottom" data-delay="50" data-tooltip="if you are going on holiday or would like a seasonal checkover we can carry this out

inspection for £30 inc VAT">card_travel</i><br />Pre-holiday inspections
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="bottom" data-delay="50" data-tooltip="we can carry out all diagnostics and repairs to air conditioning systems on all vehicles with a

typical system regas and checkover starting from £54 inc VAT">toys</i>
        <br />Air conditioning repairs
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="bottom" data-delay="50" data-tooltip="whilst it is normally cheaper for you to have your glass replaced through your

insurance company we can always arrange this for you. Please contact us for a price of your vehicle.">stay_primary_landscape</i>
        <br />Windscreen replacement
    </div>
    <div class="col s12 m1">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col s12 m1">
        &nbsp;
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="right" data-delay="50" data-tooltip="If you suspect a strange noise or fault with your car, one of our qualified technicians will be

happy to road test your vehicle free of charge and then decide what course of action is best.">assignment</i><br />Free road tests with technicians
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="bottom" data-delay="50" data-tooltip="If you are unlucky enough to need an engine rebuild or replacement our fully

qualified technicians will be able to repair your engine the most economical way. Please contact us for a price.">build</i><br />Engine rebuilds or replacements
    </div>

    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="bottom" data-delay="50" data-tooltip="If you have a track day car, race car or a performance road car we have all the equipment and

knowledge to set up your vehicle to your specific needs or requirements. Please contact us for a chat and">timer</i><br />Racing car preparation
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="bottom" data-delay="50" data-tooltip="We will replace any bulbs and wiper blades that can be changed without the need

for removing parts and will only charge for the bulbs or wipers that are replaced or you can supply your own.">wb_incandescent</i><br />Free fit bulbs and wipers
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="bottom" data-delay="50" data-tooltip="we can replace tyres for any vehicle from a car up to a 3.5tonne van, please call us with your tyre

size and we will be happy to supply you a quote.">group_work</i><br />Tyre repair / replacements
    </div>
    <div class="col s12 m1">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col s12 m1">
        &nbsp;
    </div>
    <div class="col s12 m2">
        &nbsp;
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="right" data-delay="50" data-tooltip="we are happy to carry out a free fault code read on your vehicle, after this we can advise

you if the car needs to be booked for further diagnosis or if it is something for you to monitor. Please contact

us to arrange a suitable time.">network_check</i><br />Diagnostic checks and fault finding
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="bottom" data-delay="50" data-tooltip="If you simply need a tracking check or a full 4 wheel alignment we can carry this out using

the latest equipment. Prices start from just £39.">album</i><br />Wheel alignment
    </div>
    <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;" data-position="bottom" data-delay="50" data-tooltip="To check that your vehicle is running correctly we can carry out a free emission

inspection. Please call for a suitable time.">cloud_circle</i><br />Emissions inspections
    </div>

</div>
        </div>
