
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row"></div>
<div class="row">
<div class="col s12 m12">
    <div class="slider">
        <ul class="slides">
            <li><img src="~/Content/Images/Gallery/003fb05e-db6f-4cca-a1b3-e68195068095.jpg"> </li>
            <li><img src="~/Content/Images/Gallery/19a8e3e5-9e0e-49ea-9124-54b10a8f6d4f.jpg"> </li>
            <li><img src="~/Content/Images/Gallery/3a289501-e424-4781-9f3b-8574c8d3432f.jpg"></li>
            <li><img src="~/Content/Images/Gallery/45e07c66-2827-46d5-b595-5ad50ecd8206.jpg"></li>
            <li><img src="~/Content/Images/Gallery/605589ac-8239-43b2-9827-5553e4e67f79.jpg"></li>
            <li><img src="~/Content/Images/Gallery/6318240d-4dcc-447b-8b11-84e215f10fe9.jpg"></li>
            <li><img src="~/Content/Images/Gallery/Auto-Barn-Waiting-Area.jpg"></li>
            <li><img src="~/Content/Images/Gallery/fefea745-f13f-47eb-8555-68f9a6154816.jpg"></li>
            <li><img src="~/Content/Images/Gallery/IMG_2027.JPG"></li>
            <li><img src="~/Content/Images/Gallery/IMG_2034.JPG"></li>
            <li><img src="~/Content/Images/Gallery/IMG_2036.JPG"></li>
            <li><img src="~/Content/Images/Gallery/IMG_2043.JPG"></li>
            <li><img src="~/Content/Images/Gallery/IMG_2164.JPG"></li>
            <li><img src="~/Content/Images/Gallery/IMG_2575.JPG"></li>
        </ul>
    </div>
</div>

    </div>

<div class="row"></div>
