@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
}

<div style="background-color: #F4F4F4; padding-bottom: 10px;">

    <div class="row"></div>
    <div class="row">

        <div class="col s6 offset-s2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet.</p>

            <div class="row">
                <div class="col s12 m4">
                    <span class="manufacturer">Audi</span>
                </div>
                <div class="col s12 m4">
                    <span class="manufacturer">BMW</span>
                </div>
                <div class="col s12 m4">
                    <span class="manufacturer">Mercedez-Benz</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <span class="manufacturer">Volkswagen</span>
                </div>
                <div class="col s12 m4">
                    <span class="manufacturer">Seat</span>
                </div>
                <div class="col s12 m4">
                    <span class="manufacturer">Skoda</span>
                </div>
            </div>

            <p>Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam.</p>
        </div>
        <div class="col m4 s12">
            <a href="http://www.checkatrade.com/AutobarnMotorServicesLtd" target="_blank">
                <img src="http://www.checkatrade.com/Reputation/APIChart/AutobarnMotorServicesLtd.png" alt="Checkatrade information for Autobarn Motor Services Ltd " />
            </a>
        </div>
    </div>


</div>