@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
}

<div style="background-color: #F4F4F4; padding-bottom: 10px;">

    <div class="row"></div>
    <div class="row">

        <div class="col s6 offset-s2">
            <p>All the staff at Autobarn have a combined experience of over 40 years servicing and repairing Mercedes-Benz, BMW and VW Audi group vehicles. All technicians have carried out various training courses within these brands on various systems and specialisms. They also continue to attend training days to ensure that we are kept up to date on new systems and technologies as they are released.</p>

            <div class="row">
                <div class="col s12 m4">
                    <span class="manufacturer">Audi</span>
                </div>
                <div class="col s12 m4">
                    <span class="manufacturer">BMW</span>
                </div>
                <div class="col s12 m4">
                    <span class="manufacturer">Mercedez-Benz</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <span class="manufacturer">Volkswagen</span>
                </div>
                <div class="col s12 m4">
                    <span class="manufacturer">Seat</span>
                </div>
                <div class="col s12 m4">
                    <span class="manufacturer">Skoda</span>
                </div>
            </div>

            <p>We also have the latest diagnostic equipment to ensure we are able to carry out guided fault finding, complex actuation tests and simple service light resets. And can access service information to ensure that your car has the correct level of service when required.</p>
            <p>We also have a large car parking area, and a large workshop to ensure your car is kept in good hands at all times.</p>

        </div>
        <div class="col m4 s12">
            <a href="http://www.checkatrade.com/AutobarnMotorServicesLtd" target="_blank">
                <img src="http://www.checkatrade.com/Reputation/APIChart/AutobarnMotorServicesLtd.png" alt="Checkatrade information for Autobarn Motor Services Ltd " />
            </a>
        </div>
    </div>


</div>