@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
        
    </style>
}


    <div class="slider">
        <ul class="slides" style="height: 250px;">
            <li>

                <img src="~/Content/Images/German/IMG_2946.JPG" />
                <div class="caption left-align">
                    <h1>Up to 60% Off Dealer Prices</h1>
    @*<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>*@
                </div>
            </li>
            <li>
                <img src="~/Content/Images/German/IMG_2979.JPG" /> <!-- random image -->
                <div class="caption left-align">
                    <h1>Servicing from just £49</h1>
    @*<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>*@
                </div>
            </li>
            <li>

                <img src="~/Content/Images/German/IMG_2977.JPG" />
                <div class="caption right-align">
                    <h1>Free Collection & Delivery service</h1>
                    
                    @*
    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>*@
                </div>
            </li>
            <li>
                    <img src="~/Content/Images/German/IMG_2966.JPG" />
                    <div class="caption left-align">
                        <h1>Book Your Service Online</h1> <a href="@Url.Action("New", "Booking")" class="btn btn-default">Book Now</a>
                        @*
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>*@
                    </div>
</li>
            <li>
                <img src="~/Content/Images/German/IMG_2968.JPG" /> <!-- random image -->
                <div class="caption right-align">
                    <h1>Main dealer standards at a fraction of the price</h1>
    @*<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>*@
                </div>
            </li>

        </ul>
    </div>
@*<div class="parallax-container">

    <img src="~/Content/Images/German/top-banner.JPG" alt="Unsplashed background img 1">
</div>*@



<div style="background-color: #F4F4F4; margin-bottom: -20px;">
    <div class="row"></div>
    @*tooltipped data-position="bottom" data-delay="50" data-tooltip="I am tooltip"*@
    <div class="row">
        <div class="col m2 offset-m2 center-align">
            <i class="fa fa-line-chart large"></i> <br/>Up to 60% Off Dealer Prices
        </div>
        <div class="col m2 center-align">
            <i class="fa fa-tachometer large"></i><br/>
            Servicing from just £49
        </div>
        <div class="col m2 center-align">
            <i class="fa fa-car large"></i><br/>
            Free Collection & Delivery service
        </div>
        <div class="col m2 center-align">
            <i class="fa fa-check-circle large"></i> <br/>Main dealer standards at a fraction of the price
        </div>

    </div>


    <div class="row">
        <div class="col m8 offset-m2 center-align">
            <a href="@Url.Action("New", "Booking")" class="btn btn-default">Book Now</a>
        </div>
    </div>

    <div class="row">
        <div id="map"></div>
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s8 m8 center-align">
            <h1>Audi, VW & Skoda Servicing</h1>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m4">
            <p>All the staff at Autobarn have a combined experience of over 40 years servicing and repairing Mercedes-Benz, BMW and VW Audi group vehicles. All technicians have carried out various training courses within these brands on various systems and specialisms. They also continue to attend training days to ensure that we are kept up to date on new systems and technologies as they are released.</p>


        </div>
        <div class="col s12 m4">
            <p>We also have the latest diagnostic equipment to ensure we are able to carry out guided fault finding, complex actuation tests and simple service light resets. And can access service information to ensure that your car has the correct level of service when required.</p>
            <p>We also have a large car parking area, and a large workshop to ensure your car is kept in good hands at all times.</p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

</div>





@*<div style="background-color: #F4F4F4; padding-bottom: 10px;">

    <div class="row"></div>
    <div class="row">

        <div class="col s6 offset-s2">
            <p>All the staff at Autobarn have a combined experience of over 40 years servicing and repairing Mercedes-Benz, BMW and VW Audi group vehicles. All technicians have carried out various training courses within these brands on various systems and specialisms. They also continue to attend training days to ensure that we are kept up to date on new systems and technologies as they are released.</p>

           

            <p>We also have the latest diagnostic equipment to ensure we are able to carry out guided fault finding, complex actuation tests and simple service light resets. And can access service information to ensure that your car has the correct level of service when required.</p>
            <p>We also have a large car parking area, and a large workshop to ensure your car is kept in good hands at all times.</p>

        </div>
        <div class="col m4 s12">
            <a href="http://www.checkatrade.com/AutobarnMotorServicesLtd" target="_blank">
                <img src="http://www.checkatrade.com/Reputation/APIChart/AutobarnMotorServicesLtd.png" alt="Checkatrade information for Autobarn Motor Services Ltd " />
            </a>
        </div>
    </div>


</div>*@


<div >
    <img src="~/Content/Images/German/banner.png" alt="Unsplashed background img 1">
</div>



<div style="background-color: #F4F4F4; margin-bottom: -0px; margin-top: -120px; ">
    <div class="row">
        <div id="map"></div>
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s8 m8 center-align">
            <h1>What happens if your VW, AUDI or Skoda has been recalled for emoissions scandal</h1>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m4">
            <p>All the staff at Autobarn have a combined experience of over 40 years servicing and repairing Mercedes-Benz, BMW and VW Audi group vehicles. All technicians have carried out various training courses within these brands on various systems and specialisms. They also continue to attend training days to ensure that we are kept up to date on new systems and technologies as they are released.</p>


        </div>
        <div class="col s12 m4">
            <p>We also have the latest diagnostic equipment to ensure we are able to carry out guided fault finding, complex actuation tests and simple service light resets. And can access service information to ensure that your car has the correct level of service when required.</p>
            <p>We also have a large car parking area, and a large workshop to ensure your car is kept in good hands at all times.</p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

</div>

<div class="">
    
    <div class="section" style="align-content: center; text-align: center;">
        <!-- Icon Section -->

        <div class="row">
            <div class="col s12 m1">
                &nbsp;
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Servicing and MOT's">local_car_wash</i> 
            </div>

            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Brake fluid servicing">invert_colors_off</i>
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Pre-holiday inspections">card_travel</i>
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Air conditioning repairs">toys</i>
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Windscreen replacement">stay_primary_landscape</i>
            </div>
            <div class="col s12 m1">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 m1">
                &nbsp;
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Free road tests with technicians">assignment</i>
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Engine rebuilds or replacements">build</i>
            </div>

            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Racing car preparation">timer</i>
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Free fit bulbs and wipers">wb_incandescent</i>
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Tyre repair / replacements">group_work</i>
            </div>
            <div class="col s12 m1">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 m1">
                &nbsp;
            </div>
            <div class="col s12 m2">
                &nbsp;
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Diagnostic checks and fault finding">network_check</i>
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Wheel alignment">album</i>
            </div>
            <div class="col s12 m2">
                <i class="material-icons md-ab tooltipped" data-position="bottom" data-delay="50" data-tooltip="Emissions inspections">cloud_circle</i>
            </div>

        </div>
    </div>
</div>



@section scripts {

    <script>
        $(document).ready(function () {
            $('.slider').slider({ full_width: true, height: 500, indicators: false });
        });
    </script>
        }
