@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
        
    </style>
}
@Html.Partial("_Slider")

<div style="background-color: #F4F4F4; margin-bottom: -20px;">
    
    <div class="col s2 m2">&nbsp;</div>
    <div class="col s8 m8 center-align">
        <h1>Audi, VW & Skoda Servicing</h1>
    </div>
    <div class="col s2 m2">&nbsp;</div>

    <div class="row"></div>
    @*tooltipped data-position="bottom" data-delay="50" data-tooltip="I am tooltip"*@

    <div class="row">
        <div class="col m8 offset-m2 center-align">
            <a href="@Url.Action("New", "Booking")" class="btn btn-default">Book Now</a>
        </div>
    </div>

    <div class="row">
        <div class="col m2 offset-m2 center-align">
            <i class="fa fa-line-chart large" style="color: #3878E2;"></i> <br/>Up to 60% Off Dealer Prices
        </div>
        <div class="col m2 center-align">
            <i class="fa fa-tachometer large" style="color: #3878E2;"></i><br/>
            Servicing from just £49
        </div>
        <div class="col m2 center-align">
            <i class="fa fa-car large" style="color: #3878E2;"></i><br/>
            Free Collection & Delivery service
        </div>
        <div class="col m2 center-align">
            <i class="fa fa-check-circle large" style="color: #3878E2;"></i> <br/>Main dealer standards at a fraction of the price
        </div>

    </div>


   

   

    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m4">
            <p>

                Here at Autobarn all out technicians are VW, Audi, Seat, Skoda, BMW, Mini and Mercedes-Benz qualified. They

                also attend training courses throughout the year to ensure they are kept up to date with the latest advances

                and technologies. Whether you require a routine service, MOT,repair or a diagnostic check rest assured we

                have the skilled technicians to carry out all the tasks exactly as the manufacturer intended. We have access to

                all the up to date service schedule information to ensure we carry out the correct service at the correct time.

                We always use parts and lubricants to the OEM specification or above, this ensures that your vehicle receives

                the best care and also keeps your vehicles manufacturer warranty where applicable. 

            </p>


        </div>
        <div class="col s12 m4">
            <p>
                We have the latest

                diagnostic equipment which is updated every 3 months to ensure we always have the correct software to be

                able to carry out full diagnostic checks and even the simple task of resetting the service light. We have a large

                spacious workshop and car park to ensure your vehicle is in safe hands. We have all the usual services, such as

                collection and delivery, Loan cars and these are completely FREE. You will see from our checkatrade page that

                we 100% believe in honesty and integrity and if on the rare occasion we do get a problem we are unable to

                repair we will be honest and simply advise you of the next step and help you to get your vehicle repaired as

                quickly and cheaply as possible. Main dealer standards at a fraction of the price.
            </p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

</div>





@*<div style="background-color: #F4F4F4; padding-bottom: 10px;">

    <div class="row"></div>
    <div class="row">

        <div class="col s6 offset-s2">
            <p>All the staff at Autobarn have a combined experience of over 40 years servicing and repairing Mercedes-Benz, BMW and VW Audi group vehicles. All technicians have carried out various training courses within these brands on various systems and specialisms. They also continue to attend training days to ensure that we are kept up to date on new systems and technologies as they are released.</p>

           

            <p>We also have the latest diagnostic equipment to ensure we are able to carry out guided fault finding, complex actuation tests and simple service light resets. And can access service information to ensure that your car has the correct level of service when required.</p>
            <p>We also have a large car parking area, and a large workshop to ensure your car is kept in good hands at all times.</p>

        </div>
        <div class="col m4 s12">
            <a href="http://www.checkatrade.com/AutobarnMotorServicesLtd" target="_blank">
                <img src="http://www.checkatrade.com/Reputation/APIChart/AutobarnMotorServicesLtd.png" alt="Checkatrade information for Autobarn Motor Services Ltd " />
            </a>
        </div>
    </div>


</div>*@


<div >
    <img src="~/Content/Images/German/banner.png" alt="Unsplashed background img 1">
</div>



<div style="background-color: #F4F4F4; margin-bottom: -0px; margin-top: -120px; ">
    <div class="row">
        <div id="map"></div>
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s8 m8 center-align">
            <h1>What happens if your VW, AUDI or Skoda has been recalled for emoissions scandal</h1>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m4">
            <h2>VAG Cambelt replacement</h2>
            <p>
                90% of all the VAG vehicles still use a cambelt rather than a chain to drive the camshaft. The interval for these

                is generally every 4 years or 60,000 miles up to 2009, and 5 years 100,000 there after. This is a basic guide and

                if you require clarifiaction please contact us where we can confirm this using your registration number. We

                also recommend that the water pump is replaced at the same time, as this is usually driven from the cambelt

                and can also cause major engine damage if it fails. For a competitive price please call us on 02392 592010 or

                email us at <a href="mailto:info@autobarnmotorservices.co.uk">info@autobarnmotorservices.co.uk</a>.
            </p>


        </div>
        <div class="col s12 m4">
            <h2>VW / Audi emission scandal</h2>
            <p>
                Whilst all the recalls have to be carried out by a main dealer we are happy to advise you and can answer your

                questions and quieries. We have lots of information regarding this issue and are happy to advise. We have

                found that some vehicles when visiting the dealer are subject to a free health check where work required is

                reported, we can again quote for any repairs advised and are happy to recheck for a second opinion if

                required.
            </p>
            <h2>Other makes</h2>
            <p>
                Although we are the German auto specialists, we can of course work on any make and model of car and vans

                up to 3.5 tonne. We also have a large ramp that enables us to work on large motorhomes. If you have any

                questions relating to any other models or would like an estimate for any repairs please call us on <strong>02392 592010</strong>
                 or send an email to <a href="mailto:info@autobarnmotorservices.co.uk">info@autobarnmotorservices.co.uk</a>
            </p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

</div>

<div class="">

    <div class="section" style="align-content: center; text-align: center;">
        <!-- Icon Section -->

        @Html.Partial("_Services")
    </div>

    <div class="row brand-cta">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m8 center-align">

            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><h1>Call us now on 02392 592010 | <a href="@Url.Action("New", "Booking")" id="instant-quote">INSTANT ONLINE QUOTE</a></h1>
        
        </div>
        
    </div>
</div>



@section scripts {

    <script>
        $(document).ready(function () {
            $('.slider').slider({ full_width: true, height: 500, indicators: false });
        });
    </script>
        }
