@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>

    </style>
}

<div class="slider">
    <ul class="slides" style="height: 250px;">
        <li>

            <img src="~/Content/Images/Gallery/003fb05e-db6f-4cca-a1b3-e68195068095.jpg"/>
            <div class="caption left-align">
                <h1>Up to 60% Off Dealer Prices</h1>
                @*<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>*@

            </div>
            @*<img src="http://www.checkatrade.com/Images/ProudMembersOfCAT-230x60.jpg" alt="http://www.checkatrade.com/" />*@
        </li>
        <li>
            <img src="~/Content/Images/Gallery/6318240d-4dcc-447b-8b11-84e215f10fe9.jpg"/> <!-- random image -->
            <div class="caption left-align">
                <h1>Servicing from just £49</h1>
                @*<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>*@
            </div>
        </li>
        <li>

            <img src="~/Content/Images/Gallery/45e07c66-2827-46d5-b595-5ad50ecd8206.jpg"/>
            <div class="caption left-align">
                <h1>Free Collection & Delivery service</h1>

                @*
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>*@
            </div>
        </li>

    </ul>
</div>


<div style="background-color: #F4F4F4; margin-bottom: -20px; margin-top: -30px;">

    <div class="col s2 m2">&nbsp;</div>
    <div class="col s8 m8 center-align">
        <h1>Motorhome and Class 7 MOT.</h1>
        <a href="@Url.Action("New", "Booking")" class="btn btn-default">Book Now</a>
    </div>
    <div class="col s2 m2">&nbsp;</div>


    <div class="">
        <div class="section" style="align-content: center; text-align: center;">
            <!-- Icon Section -->

            <div class="section" style="align-content: center; text-align: center;">
                <!-- Icon Section -->

                <div class="row">
                    <div class="col s12 m1">
                        &nbsp;
                    </div>
                    <div class="col s12 m1">
                        &nbsp;
                    </div>
                    <div class="col s12 m2">
                        <i class="fa fa-line-chart large" style="color: #3878E2;"></i> <br />Up to 60% Off Dealer Prices
                    </div>

                    <div class="col s12 m2">
                        <i class="fa fa-tachometer large" style="color: #3878E2;"></i><br />
                        Servicing from just £49
                    </div>
                    <div class="col s12 m2">
                        <i class="fa fa-car large" style="color: #3878E2;"></i><br />
                        Free Collection & Delivery service
                    </div>
                    <div class="col s12 m2">
                        <i class="fa fa-check-circle large" style="color: #3878E2;"></i> <br />Main dealer standards at a fraction of the price
                    </div>

                    <div class="col s12 m1">
                        &nbsp;
                    </div>
                </div>

            </div>
        </div>
    </div>




    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m4">
            <p>Here at Autobarn we have a unique MOT ramp that is large enough to

be able to test Class 7 goods vehicles and motor homes. We are one of only a couple of garages in

this area that have this facility. We also have 2 larger ramps in our workshop that enable us to carry

out all servicing and repairs on large vans and motor homes. We have gained lots of experience on

these vehicles and are able to carry out all tasks including servicing, cambelt changes, clutches and

much more. For a competitive quote please contact us with your vehicles details and we will be

happy to produce an estimate for you. We can also advise you on any habitation questions or

problems you may have and if required we can contact our specialist in this and arrange for the

repairs or servicing of your habitation part of your vehicle.  We generally find that most motorhomes

cover very little mileage and so where applicable we can advise on the manufacturers schedule and

also give our opinion on what service your vehicle will need. We also have a free collection and

delivery service, and have a large spacious workshop and car park to ensure your large vehicle is in

safe hands. For any questions or estimates please contact us now. Main dealer servicing at a fraction

of the price.
            </p>


        </div>
        <div class="col s12 m4">
            <p>
                We have the latest

                diagnostic equipment which is updated every 3 months to ensure we always have the correct software to be

                able to carry out full diagnostic checks and even the simple task of resetting the service light. We have a large

                spacious workshop and car park to ensure your vehicle is in safe hands. We have all the usual services, such as

                collection and delivery, Loan cars and these are completely FREE. You will see from our checkatrade page that

                we 100% believe in honesty and integrity and if on the rare occasion we do get a problem we are unable to

                repair we will be honest and simply advise you of the next step and help you to get your vehicle repaired as

                quickly and cheaply as possible. Main dealer standards at a fraction of the price.
            </p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

</div>


<div class="row center-image" style="background-color: #F4F4F4;">
    @*<div>
            <img src="~/Content/Images/German/banner.png" alt="Unsplashed background img 1">
        </div>*@

    <div class="col m3"><img src="~/Content/Images/German/banner1motorhome.png" alt="Unsplashed background img 1"></div>
    <div class="col m3"><img src="~/Content/Images/German/banner2motorhome.png" alt="Unsplashed background img 1"></div>
    <div class="col m3"><img src="~/Content/Images/German/banner3motorhome.png" alt="Unsplashed background img 1"></div>
    <div class="col m3"><img src="~/Content/Images/German/banner4motorhome.png" alt="Unsplashed background img 1"></div>

</div>



<div class="">

    <div class="section" style="align-content: center; text-align: center;">
        <!-- Icon Section -->

        @Html.Partial("_Services")
    </div>

    <div class="row brand-cta">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m8 center-align">

            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><h1>Call us now on <span class="mediahawkNumber1263">02392 592010</span> <br /> <a href="@Url.Action("New", "Booking")" id="instant-quote" class="btn btn-default">INSTANT ONLINE QUOTE</a></h1>

        </div>

    </div>
</div>



@section scripts {

    <script>
        $(document).ready(function () {
            $('.slider').slider({ full_width: true, height: 500, indicators: false });
        });
    </script>
}
