/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot);
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot) format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}*/


img {
    max-width: 100%;
}

body {
    font-size: 18px;
    color: #555;
}

body {
    font-size: 18px;
    color: #555;
    font-family: 'Crimson Text', serif;
     -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Crimson Text', serif;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 24px;
    
    margin: 0px 0px;
}

h2 center {
    border: 1px solid red;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 19px;

}

h5 {
    font-size: 18px;
    color: #F9F9F9;
    text-transform: uppercase;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 477px;
}
  .parallax-container .section {
    width: 100%;
  }

  .booking {
      width: 100%;
      min-height: 280px;
  line-height: 0;
  height: 280px;
  }

  

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#index-banner {
    /*border: 1px solid gold;*/
}


.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

#nav-bar {
    background-color: #3878E2;
}

#nav-bar a {
    color: #B2CBF5;
}



/*Autobarn Colours*/
.autobarn {
    background-color: #2B3442 !important;
    color: #A4B3CD;
}

.autobarn a {
     color: #A4B3CD;
}

.footer-copyright {
    background-color: #202532 !important
}

/*Parallaz sizes*/
/*.home-banner {
    height: 447px;
    /*-ms-opacity: 0.1;*/
    
    /*-webkit-filter: brightness(0);*/
    /*-webkit-filter: contrast();*/


/*.parallax-container {
    height: 567px;
    color: #F9F9F9;
}*/

.brand-logo {
    margin-top: 8px;
}



.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-ab { 
    font-size: 48px;
    color: #8C96A1;
}

#double-image img {
    width: 100%;
    height: 100%;
}

.small-hr {
    border: 5px solid blue;
    width: 100px;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #3878e2;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer; }
  .btn:hover, .btn-large:hover {
    background-color: #2bbbad; }

  #double-image div {
      /*border: 1px solid teal;*/
  }

  
  .box {border:0px solid #3878e2;background-color: grey; }
.box h2, h3 {background:#3878e2;color:white;padding:10px;}
.box p {color:#333;padding:10px;}
.box {
      background-color: rgba(0, 0, 0, 0.3);
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-top-left-radius:0px;
}

.box select, button {
    margin-left: 2%;
}

.box input , select {
    color: black;
}


.autobarn {
    background-color: #2b3442!important;
    color: #a4b3cd;
    font-size: 14px;
}



footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,.8);
    background-color: rgba(51,51,51,.08);
    color: #A4B3CD;
}

#booking-form {
    font-family: 'Crimson Text', serif;
}

#booking-form .row {

    margin-top: -20px;
}
#booking-form input, select, textarea, option {
    border: 1px solid white;
    background-color: white;
    color: #2b3442;
   padding: -10px -10px -10px -10px;
}

#booking-details  {
    margin-top: -20px;
}
#booking-details tr, td {
    padding-top: 0px;
}
.top-line {
    background-color: #2b3442;
    color: white;
    text-align: right;
    border: 1px solid #2b3442;
    margin-bottom: -15px;
}

.top-line .row {
    margin-top: 5px;
}


.manufacturer {
    font-family: 'Crimson Text', serif;
    font-size: xx-large;
}





/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

#instant-quote a {
    color: white;
    background-color: #3878e2; 
    padding: 2px;
}

#instant-quote a:hover {
    color: white;
    background-color: #26a69a;
}

.instant-quote a {
    color: white;
    background-color: #3878e2; 
    padding: 2px;
}

.instant-quote a:hover {
    color: white;
    background-color: #26a69a;
}

.blue-icon {
    color: #3878E2;
}

.brand-cta ,a {
    color: #3878E2;
}

.brand-cta a:hover {
    color: #3878E2;
}


.dropdown-button {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    
}

.center-image {
  
    line-height: 0px;
}

.center-image img {
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.modal-footer {
    border: 1px solid red;
    text-align: left;
}

.rentaramp {
  width: 100%;
}