/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot);
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot) format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

* {
    
   
}

img {
    max-width: 100%;
}

body {
    font-size: 18px;
    color: #555;
}

body {
    font-size: 18px;
    color: #555;
    font-family: 'Crimson Text';
     -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 24px;
    
    margin: 0px 0px;
}

h2 center {
    border: 1px solid red;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 19px;

}

h5 {
    font-size: 18px;
    color: #F9F9F9;
    text-transform: uppercase;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 477px;
}
  .parallax-container .section {
    width: 100%;
  }

  .booking {
      width: 100%;
      min-height: 380px;
  line-height: 0;
  height: 380px;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#index-banner {
    /*border: 1px solid gold;*/
}


.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

#nav-bar {
    background-color: #3878E2;
}

#nav-bar a {
    color: #B2CBF5;
}



/*Autobarn Colours*/
.autobarn {
    background-color: #2B3442 !important;
    color: #A4B3CD;
}

.autobarn a {
     color: #A4B3CD;
}

.footer-copyright {
    background-color: #202532 !important
}

/*Parallaz sizes*/
/*.home-banner {
    height: 447px;
    /*-ms-opacity: 0.1;*/
    
    /*-webkit-filter: brightness(0);*/
    /*-webkit-filter: contrast();*/


/*.parallax-container {
    height: 567px;
    color: #F9F9F9;
}*/

.brand-logo {
    margin-top: 8px;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-ab { 
    font-size: 48px;
    color: #8C96A1;
}

#double-image img {
    width: 100%;
    height: 100%;
}

.small-hr {
    border: 5px solid blue;
    width: 100px;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #3878e2;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer; }
  .btn:hover, .btn-large:hover {
    background-color: #2bbbad; }

  #double-image div {
      /*border: 1px solid teal;*/
  }

  
  .box {border:0px solid #3878e2;background-color: grey; }
.box h2, h3 {background:#3878e2;color:white;padding:10px;}
.box p {color:#333;padding:10px;}
.box {
      background-color: rgba(0, 0, 0, 0.3);
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-top-left-radius:0px;
}

.box select, button {
    margin-left: 2%;
}

.box input , select {
    color: black;
}


.autobarn {
    background-color: #2b3442!important;
    color: #a4b3cd;
    font-size: 14px;
}



footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,.8);
    background-color: rgba(51,51,51,.08);
    color: #A4B3CD;
}

#booking-form {
    font-family: 'Crimson Text';
}

#booking-form .row {

    margin-top: -20px;
}
#booking-form input, select, textarea, option {
    border: 1px solid white;
    background-color: white;
    color: #2b3442;
   padding: -10px -10px -10px -10px;
}

#booking-details  {
    margin-top: -20px;
}
#booking-details tr, td {
    padding-top: 0px;
}
.top-line {
    background-color: #2b3442;
    color: white;
    text-align: right;
    border: 1px solid #2b3442;
    margin-bottom: -15px;
}

.top-line .row {
    margin-top: 5px;
}