@model AutoBarn.WebUI.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<div style="background-color: #F4F4F4; ">
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63900.05274275421!2d-1.070927808830944!3d50.906942804811735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487443f096fcdee7%3A0xb23b881fc1e04aca!2sAuto-Barn%20Motor%20Services%20Ltd!5e0!3m2!1sen!2suk!4v1569872471166!5m2!1sen!2suk" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s8 m8 center-align">
            <h1>Contact Auto-Barn Motor Services</h1>
            <p>
                Please complete the Contact form below, email us as <a href="mailto: info@autobarnmotorservices.co.uk">info@autobarnmotorservices.co.uk</a> or call us on <span class="mediahawkNumber1263">02392 592010</span>
            </p>

            @if (Model != null)
            {
                <h2>Thank you @Model.Name for sending us a message, we will be in touch shortly.</h2>
            }
            
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

    <form action="~/Home/Contact" method="POST">
        <div class="row" id="booking-form">

            <div class="col s2 m2">&nbsp;</div>
            <div class="col s12 m4">
                <input type="text" id="name" name="name" class="browser-default" placeholder="Name" required>
                <input type="email" id="email" name="email" class="browser-default" placeholder="Email" required>
                <input type="text" id="telephone" name="telephone" class="browser-default" placeholder="Telelphone" required>
            </div>
            <div class="col s12 m4">
                <textarea id="notes"
                          class="materialize-textarea"
                          name="message"
                          placeholder="Please enter your message"
                          required
                          style="background-color: white; height: 120px; border-bottom: 1px solid white;" rows="250"></textarea>
            </div>
            <div class="col s2 m2">&nbsp;</div>

        </div>

        <div class="row">
            <div class="col s4 offset-m2">
                    <input type="submit" value="Send Message" class="btn"/>
                </div>
                
        </div>
    </form>
    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m4">
            <h3>From A3(M) Southbound</h3>
            <p>Leave the A3(M) at junction 2, then at the roundabout take the 3rd exit onto Dell Piece East – B2149. Continue 0.6 miles to next roundabout and take the 1st exit onto Dell Piece West B2149. Continue 0.3 miles to traffic signals and continue forward onto Catherington Lane. In 0.3 miles Turn left onto Victory Avenue In 0.3 miles Turn left onto Frogmore Lane In 0.1 miles Turn right onto Yoells Lane In 0.2 miles Turn Right onto Lovedean Lane. Continue 0.4 miles and the Garage is on your left handside.</p></div>
        <div class="col s12 m4">
            <h3>From A3(M) Northbound</h3>
            <p>Leave the A3(M) at junction 2, then at the roundabout take the 1st exit onto Dell Piece East – B2149. Continue 0.6 miles to next roundabout and take the 1st exit onto Dell Piece West B2149. Continue 0.3 miles to traffic signals and continue forward onto Catherington Lane. In 0.3 miles Turn left onto Victory Avenue In 0.3 miles Turn left onto Frogmore Lane In 0.1 miles Turn right onto Yoells Lane In 0.2 miles Turn Right onto Lovedean Lane. Continue 0.4 miles and the Garage is on your left handside.</p></div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

</div>
