@{
    ViewBag.Title = "Contact";
}
<div style="background-color: #F4F4F4; ">
    <div class="row">
        <div id="map"></div>
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s8 m8 center-align">
            <h1>Contact Auto-Barn Motor Services</h1>
            <p>
                Please complete the Contact form below, email us as <a href="mailto: info@autobarnmotorservices.co.uk">info@autobarnmotorservices.co.uk</a> or call us on 02392 592010
            </p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s4 m4">
            <h3>From A3(M) Southbound</h3>
            <p>Leave the A3(M) at junction 2, then at the roundabout take the 3rd exit onto Dell Piece East – B2149. Continue 0.6 miles to next roundabout and take the 1st exit onto Dell Piece West B2149. Continue 0.3 miles to traffic signals and continue forward onto Catherington Lane. In 0.3 miles Turn left onto Victory Avenue In 0.3 miles Turn left onto Frogmore Lane In 0.1 miles Turn right onto Yoells Lane In 0.2 miles Turn Right onto Lovedean Lane. Continue 0.4 miles and the Garage is on your left handside.</p></div>
        <div class="col s4 m4">
            <h3>From A3(M) Northbound</h3>
            <p>Leave the A3(M) at junction 2, then at the roundabout take the 1st exit onto Dell Piece East – B2149. Continue 0.6 miles to next roundabout and take the 1st exit onto Dell Piece West B2149. Continue 0.3 miles to traffic signals and continue forward onto Catherington Lane. In 0.3 miles Turn left onto Victory Avenue In 0.3 miles Turn left onto Frogmore Lane In 0.1 miles Turn right onto Yoells Lane In 0.2 miles Turn Right onto Lovedean Lane. Continue 0.4 miles and the Garage is on your left handside.</p></div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

</div>
<style>
    #map {
        width: 100%;
        height: 400px;
    }
</style>


@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js"></script>

<script>
    function initialize() {

        var location = new google.maps.LatLng(50.9131654, -1.0309247);
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
            center: location,
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);

        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var marker = new google.maps.Marker({
            position: location,
            map: map,
            icon: 'http://www.myiconfinder.com/uploads/iconsets/32-32-a5485b563efc4511e0cd8bd04ad0fe9e.png'
        });

    }

    

    google.maps.event.addDomListener(window, 'load', initialize);

    


</script>
}