@section style {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>

    </style>
}



@Html.Partial("_Slider")

<div class="wrapper" style="background-color: #F4F4F4;">
    @*<div class="container">*@
        <h2 class="center-align" style="padding-top: 10px;">About Auto-Barn</h2>

        <div class="section">
            <!-- Icon Section -->

            <div class="row">
                <div class="col s12 m1">
                    &nbsp;
                </div>
                <div class="col s12 m5">
                    <div class="icon-block">
                        @*<h2 class="center brown-text">
                                <i class="material-icons">flash_on</i>
                            </h2>
                            <h5 class="center">Speeds up development</h5>*@
                        <p>Auto-Barn Motor Services is a privately owned garage based in Waterlooville that is able to service, repair and MOT all motor vehicles up to and including 3.5 tonne commercial vehicles, with over 40 years of main dealer experience.</p>
                        <p>Our technicians are all Mercedes-Benz, BMW, MINI, Audi, VW, SEAT and Skoda qualified with a vast knowledge at working on all other makes and models of vehicles</p>
                    </div>
                </div>
                @*<div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                            <h5 class="center">User Experience Focused</h5>
                            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                        </div>
                    </div>*@
                <div class="col s12 m5">
                    <div class="icon-block">
                        @*<h2 class="center brown-text">
                                <i class="material-icons">settings</i>
                            </h2>
                            <h5 class="center">Easy to work with</h5>*@
                        <p>Whether you need a straight foward services or an engine rebuild we can carry out all work to any vehicle to a main dealer standard but at a fraction of the price.</p>
                        <p>We have all the latest equipment in our fully equiped spacious workshop with ample car parking spaces. For a free, no obligation quote please Contact us.</p>
                    </div>
                </div>

                <div class="col s12 m1">
                    &nbsp;
                </div>
            </div>
        </div>
    @*</div>*@

</div>

<div class="">
    <h2 class="center-align" style="padding-top: 10px;">Our Services</h2>
    <div class="section" style="align-content: center; text-align: center;">
        <!-- Icon Section -->

        <div class="section" style="align-content: center; text-align: center;">
            <!-- Icon Section -->

            
            @Html.Partial("_Services")
      
    </div>
</div>
    </div>

<div class="wrapper">
    <div class="" style="font-size: 0px; ">

        <div class="row" id="double-image">
            <div class="col s12 m6">
                <img src="~/Content/Images/home-image1.png" alt="home image" />
            </div>

            <div class="col s12 m6">
                <img src="~/Content/Images/home-image2.png" alt="home image" />
            </div>
        </div>
    </div>
</div>
<div class="wrapper" style="background-color: #F4F4F4; margin-top: -20px;">
    @*<div class="container">*@

    <div class="row">
        <div class="col s12 m1">
            &nbsp;
        </div>
        <div class="col s12 m5">
            <h4>Customer Feedback</h4>
            <p>See how we rate on Checkatrade, we're proud of our customer comments.</p>
            <p>Please also leave us some feedback, we'd love to hear from you. <a href="http://www.checkatrade.com/AutobarnMotorServicesLtd/Reviews.aspx">Find out more</a></p>
        </div>

        <div class="col s12 m5" style="text-align: center; margin-top: 10px;">

            <a href="http://www.checkatrade.com/AutobarnMotorServicesLtd/" target="_new">
                <img src="~/Content/Images/checkatrade-logo.png" alt="http://www.checkatrade.com/AutobarnMotorServicesLtd/" style="padding: 5px;" />
            </a>

        </div>
        <div class="col s12 m1">
            &nbsp;
        </div>
    </div>
    @*</div>*@
</div>
@*<div class="">*@

<div class="section" style="align-content: center; text-align: center;">
    <!-- Icon Section -->

    <div class="row">
        <div class="col s12 m1">
            &nbsp;
        </div>
        <div class="col s12 m10">
            <i>"Very good and professional services from Ian and his team. Excellent company. Very trustworthy."</i>
            <hr class="small-hr"/>
            <br/>Customer in Waterlooville
            <br/><strong>26 August 2015</strong>
        </div>

        <div class="col s12 m1">
            &nbsp;
        </div>
    </div>

</div>

<div class="">
    <div class="section" style="align-content: center; text-align: center;">
        <!-- Icon Section -->

        <div class="section" style="align-content: center; text-align: center;">
            <!-- Icon Section -->

            <div class="row">
                <div class="col s12 m1">
                    &nbsp;
                </div>
                <div class="col s12 m1">
                    &nbsp;
                </div>
                <div class="col s12 m2">
                    <i class="fa fa-line-chart large"></i> <br />Up to 60% Off Dealer Prices
                </div>

                <div class="col s12 m2">
                    <i class="fa fa-tachometer large"></i><br />
                    Servicing from just £49
                </div>
                <div class="col s12 m2">
                    <i class="fa fa-car large"></i><br />
                    Free Collection & Delivery service
                </div>
                <div class="col s12 m2">
                    <i class="fa fa-check-circle large"></i> <br />Main dealer standards at a fraction of the price
                </div>
              
                <div class="col s12 m1">
                    &nbsp;
                </div>
            </div>

        </div>
    </div>
</div>





@section scripts {

        <script src="../../Scripts/autobarn.js"></script>
        @*<script>
                    $(document).ready(function () {
                        $('.slider').slider({ full_width: true, height: 500, indicators: false });
                    });
            </script>*@

    }
