<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            @*<br><br>
            <h1 class="header center teal-text text-lighten-2"> </h1>
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1"></a>
            </div>
            <br><br>*@

            <div class="row">
                <div class="col s12 m8">
                    <div class="icon-block">
                        <h2 class="center white-text">We offer main dealer standards at a fraction of the price</h2>
                        <h5 class="center">Services and repairs of all makes of vehicles, prices starting from just £49.</h5>
                        
                    </div>
                </div>
              
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to work with</h5>
                        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="parallax home-banner"><img src="~/Content/Images/home-banner.png" alt="Unsplashed background img 1"></div>
</div>

<div class="container" style="background-color: #F4F4F4;">
    <h2 class="center brown-text" style="padding-top: 10px;">About Auto-Barn Motor Service</h2>
    <div class="section">
        <!-- Icon Section -->

        <div class="row">
            <div class="col s12 m1">
                &nbsp;
            </div>
            <div class="col s12 m5">
               <div class="icon-block">
                    @*<h2 class="center brown-text">
                    <i class="material-icons">flash_on</i>
                </h2>
                <h5 class="center">Speeds up development</h5>*@
                    <p>Auto-Barn Motor Services is a privately owned garage based in Waterlooville that is able to service, repair and MOT all motor vehicles up to and including 3.5 tonne commercial vehicles, with over 40 years of main dealer experience.</p>
                    <p>Our technicians are all Mercedes-Benz, BMW, MINI, Audi, VW, SEAT and Skoda qualified with a vast knowledge at working on all other makes and models of vehicles</p>
                </div>
            </div>
            @*<div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                                <h5 class="center">User Experience Focused</h5>
                                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                            </div>
                        </div>*@
            <div class="col s12 m5">
                <div class="icon-block">
                    @*<h2 class="center brown-text">
                        <i class="material-icons">settings</i>
                    </h2>
                    <h5 class="center">Easy to work with</h5>*@
                    <p>Whether you need a straight foward services or an engine rebuildm we can carry out all work to any vehicle to a main dealer standard but at a fraction of the price.</p>
                    <p>We have all the latest equipment in our fully equiped spacious workshop with ample car parking spaces. For a free, no obligation quote please contact us.</p>
                </div>
            </div>

            <div class="col s12 m1">&nbsp;
            </div>
        </div>
            </div>
        </div>

        <div class="container">
            <h2 class="center brown-text">Our Services</h2>
            <div class="section" style="align-content: center; text-align: center;">
                <!-- Icon Section -->

                <div class="row">
                    <div class="col s12 m1">
                        &nbsp;
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab md-ab">local_car_wash</i> <br/>Service / MOT
                    </div>

                    <div class="col s12 m2">
                        <i class="material-icons md-ab">invert_colors_off</i><br/>Brake fluid servicing
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab">card_travel</i><br/>Pre-holiday inspections
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab">toys</i><br/>Air conditioning repairs
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab">flip_black</i><br />Windscreen replacement
                    </div>
                   
                    <div class="col s12 m1">
                        &nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m1">
                        &nbsp;
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab">assignment</i><br/>Free road tests with technicians
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab">build</i><br/>Engine rebuilds or replacements
                    </div>

                    <div class="col s12 m2">
                        <i class="material-icons md-ab">timer</i><br/>Racing car preparation
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab">wb_incandescent</i><br />Free fit bulbs and wipers
                    </div>
                   <div class="col s12 m1">
                        &nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m1">
                        &nbsp;
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab">group_work</i><br />Tyre repair / replacements
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab">network_check</i><br />Diagnostic checks and fault finding
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab">album</i><br />Wheel alignment
                    </div>
                    <div class="col s12 m2">
                        <i class="material-icons md-ab">cloud_circle</i><br />Emissions inspections
                    </div>
                    <div class="col s12 m1">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>


<div class="container">
    <h2 class="center brown-text">Our Services</h2>
    <div class="section" style="align-content: center; text-align: center;">
        <!-- Icon Section -->

        <div class="row">
            <div class="col s12 m1">
                &nbsp;
            </div>
            <div class="col s12 m10">
                <i>"Very good and professional services from Ian and his team. Excellent company. Very trustworthy."</i>
                <br/>Customer in Waterlooville
            </div>

            <div class="col s12 m1">
                &nbsp;
            </div>
        </div>

    </div>
</div>

@*<div class="parallax-container valign-wrapper">
                <div class="section no-pad-bot">
                    <div class="container">
                        <div class="row center">
                            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                        </div>
                    </div>
                </div>
                <div class="parallax"><img src="~/Content/Images/background2.jpg" alt="Unsplashed background img 2"></div>
            </div>
            <div class="container">
                <div class="section">
                    <div class="row">
                        <div class="col s12 center">
                            <h3><i class="mdi-content-send brown-text"></i></h3>
                            <h4>Contact Us</h4>
                            <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parallax-container valign-wrapper">
                <div class="section no-pad-bot">
                    <div class="container">
                        <div class="row center">
                            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                        </div>
                    </div>
                </div>
                <div class="parallax"><img src="~/Content/Images/background3.jpg" alt="Unsplashed background img 3"></div>
            </div>*@
