
@{
    ViewBag.Title = "Meet the team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #F4F4F4; margin-bottom: -20px;">
    <div class="row">
        <div class="col s2 m2">
            &nbsp;
        </div>
        <div class="col s8 m8 center-align">
            <h1>Ramp Hire Coming Soon</h1>
            <h2>Contact us now about a new service coming very soon</h2>
            <br />
            <h2><a href="@Url.Action("Contact", "Home")">Contact us</a> or call <span class="mediahawkNumber1263">02392 592010</span></h2>
            <h3>Watch this space</h3>
        </div>
        <div class="col s2 m2">
            &nbsp;
        </div>
    </div>
</div>