
@{
  ViewBag.Title = "Rent A Ramp";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #084ca1; margin-bottom: -20px; margin-top: 0px;">
  <div class="row">
    <div class="col s12 m4 center-align">
      <img src="~/Content/Images/car_on_ramp.jpg" />
    </div>
    <div class="col s12 m4">
      <div class="caption center-align" style="color: white;">
        <h1>Welcome to Auto-Barn Rent A Ramp Ltd</h1>
        <h2>BOOK NOW ON</h2>
        <h2>0771 0523 395</h2>
        <h2>Half Day £50</h2>
        <h2>Full Day £100</h2>
      </div>
    </div>
    <div class="col s12 m4 center-align">
      <img src="~/Content/Images/car_on_ramp.jpg" />
    </div>
  </div>
</div>

  @*<div class="slider">
    <ul class="slides" style="height: 250px;">
      <li>
        <img src="~/Content/Images/ramp_header.png" />
        <div class="caption center-align">
          <h1>Welcome to Auto-Barn Rent A Ramp Ltd</h1>
          <h2>BOOK NOW ON</h2>
          <h2>0771 0523 395</h2>
          <h2>Half Day £50</h2>
          <h2>Full Day £100</h2>
        </div>
      </li>
    </ul>
  </div>*@

<div style="background-color: #F4F4F4; margin-bottom: -20px; margin-top: -27px;">

  <div class="section" style="align-content: center; text-align: center;">
    <div class="row">
      <div class="col s12 m1">
        &nbsp;
      </div>
      <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;">power</i><br />Electricity & Air supply
      </div>

      <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;">report</i><br />Safety Equipment
      </div>
      <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;">network_check</i><br />Specialist Tools
      </div>
      <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;">bar_chart</i><br />Auto Data Information
      </div>
      <div class="col s12 m2">
        <i class="material-icons md-ab tooltipped" style="color: #3878E2;">account_circle</i><br />Washroom / Toilets
      </div>
      <div class="col s12 m1">
        &nbsp;
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s2 m2">&nbsp;</div>
    <div class="col s12 m4">
      <h2>Ramp Hire</h2>
      <p>
        We are a family owned business, located in Lovedean, Hampshire, offering car enthusiasts and mobile/DIY mechanics the hire of our brand new 4 tonne vehicle lift.

        The ramp is situated within Auto-Barn Motor Services Ltd garage, with ample room for you to be able to work on your vehicle.
      </p>
      <p>
        The ramp is available to hire Monday to Saturday, 8am - 5pm.
      </p>
      <p>
        We offer full or half day hire; 4 hours for half a day from 8am - 12 noon or 1pm - 5pm for <b>£50</b>,

        or alternatively a full days hire for 9 hours is from 8am - 5pm at <b>£100</b>.
      </p>

    </div>
    <div class="col s12 m4">
      <h2>How to Book</h2>
      <p>Please call us on 07710 523398, to reserve your space. To confirm your hire we would require full payment at time of booking, by bank transfer. Once payment has been received, we will send you a confirmation text.</p>

      <h2>Upon Arrival</h2>
      <p>Once all paperwork has been completed and signed, together with receiving your £50 deposit, we will place your vehicle safely on the ramp and demonstrate how to operate the lift. On completion of hiring the ramp, we will remove your vehicle from the lift to our customer car park.</p>
    </div>
    <div class="col s2 m2">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col s2 m2">&nbsp;</div>
    <div class="col s12 m4">
      <h2>Whats included in your hire costs</h2>
      <p>Electricity and Air Supply</p>
      <p>Safety equipment provided - gloves, goggles and ear defenders</p>
      <p>Specialist workshop tools (subject to availability) - engine crane, gearbox jack, axle stands, spring compressor, 15 tonne hydraulic press, bench grinder, oil drainer, powerful LED light, torque wrench and tyre pressure gauge</p>
      <p>Access to Auto Data Information</p>
      <p>Washroom and Toilet Facilities</p>

      <h2>Additional Services Available</h2>
      <p>(at £5 per car per service)</p>
      <p>Waste Disposal & Service Light / Fault Code Reset</p>
    </div>
    <div class="col s12 m4">
      <h2>Terms and Conditions</h2>
      <p>
        A £50 cash deposit is taken on arrival, this will be fully refunded once the bay has been inspected following your ramp use, checking it has been left in the same condition you found it in. Also, if you overrun on your hire time, the deposit will be retained to compensate the inconvenience caused to the next customer.
        If you need to alter your appointment, we would require 48 hours notice, to transfer your full pre-payment. 50% of this payment will be retained if less than 48 hours notice is given. Full payment will be retained if you do not attend your appointment.
      </p>
    </div>
    <div class="col s2 m2">&nbsp;</div>
  </div>

  <div class="row center-image" style="background-color: #F4F4F4;">

    <div class="col m3"><img src="~/Content/Images/ramp_flyer.jpg" alt="Unsplashed background img 1"></div>
    <div class="col m3"><img src="~/Content/Images/ramp1.jpg" alt="Unsplashed background img 1"></div>
    <div class="col m3"><img src="~/Content/Images/large_ramp.png" alt="Unsplashed background img 1"></div>
    <div class="col m3"><img src="~/Content/Images/ramp_flyer.jpg" alt="Unsplashed background img 1"></div>

  </div>

</div>



  @section style {
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/redmond/jquery-ui.css" rel="stylesheet" />

    <style>
      .indicators {
        display: none;
      }
    </style>
  }


  @section scripts{
    <script src="../../Scripts/booking.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>



  }
