
@{
    ViewBag.Title = "ServiceMot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #F4F4F4; margin-bottom: -10px; ">
    <div class="row">
        <div id="map"></div>
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s8 m8 center-align">
            <h1>Servicing & MOT</h1>
            <p>
                Please complete the <a href="~/Home/Contact" title="Contact form">Contact form</a> , email us as 
                <a href="mailto: info@autobarnmotorservices.co.uk">info@autobarnmotorservices.co.uk</a>, <a href="~/Booking/New">Book online</a> or call us on <span class="mediahawkNumber1263">02392 592010</span>
</p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m4">
            <h3>Servicing</h3>
            <p>At Auto-Barn we are able to service all vehicles to the manufacturers specification, or if you prefer we can adapt the level of service to meet your personal requirements.</p>
            <p>We can use either genuine parts, or cheaper alternatives, its up to you! We always use the correct oil, unless there is another kind you would rather us use.</p>
            <p>On every service we will also carry out a express visual check that clearly highlights if there is any work that may be required before the next service. We will then remind you when this work is required, so that you and your vehicle are kept safe, whilst ensuring the maximum wear of all the parts on your vehicle.</p>
        </div>
        <div class="col s12 m4">
            <h3>MOT</h3>
            <p>At Auto-Barn we can MOT any make of car or Van upto 3.5 tonne (Gross Vehicle Weight).</p>
            <p>Please contact us for a booking or use our online booking facility. Your first MOT is due exactly 3 years after the first date of registration. After this date it is due exactly 12 months after the first MOT is carried out. The MOT can be carried out 28 days earlier and post dated, to allow adequate time to have all work required carried out.</p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

</div>

