
@{
    ViewBag.Title = "Meet the team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #F4F4F4; margin-bottom: -20px;">
    <div class="row">
        <div id="map"></div>
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s8 m8 center-align">
            <h1>Meet the team</h1>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m2">
            <img src="~/Content/Images/ian picture.JPG" class="circle" />
        </div>
        <div class="col s12 m6">
            <h2>Ian Halstead</h2>
            <p>Ian started Autobarn in February 2010, previous to this he has worked in Mercedes-Benz and Volkswagen
                dealerships in all roles up to Aftersales Manager which he left to start his own Garage. Ian is usually the person you talk to on
                the phone. His daily tasks are to ensure the smooth running of the garage and also carries out the majority of the MOT tests. In
                his spare time he enjoys any form of motor racing, socialising with friends and family and Marine fish keeping.
            </p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m2">
            <img src="~/Content/Images/Steve Kite.PNG" class="circle" />
        </div>
        <div class="col s12 m6">
            <h2>Steve Kite</h2>
            <p>Steve joined Autobarn in February 2010 with Ian before becoming a shareholder later in the year. Steve has exceptional
                experience and knowledge with all brands but has mainly worked within the Mercedes-Benz, BMW and VW Audi groups. He
                has also started a training programme to become Hybrid qualified which should be completed in 2016. Steve is usually the guy
                that can be heard singing away in the workshop and day to day tasks are working on the vehicles for any repairs and servicing.
                He is also our expert for electrical diagnosis. In his spare time he is a massive motor racing fan and has himself competed in
                many levels of motorsport since he was 8 years old. His current racing car is a classic hotrod Anglia which he competes at the
                highest level. He also loves to spend time with friends and family and is a big Crystal Palace fan.
            </p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col s2 m2">&nbsp;</div>
        <div class="col s12 m2">
            <img src="~/Content/Images/Dan Edgar.JPG" class="circle" />
        </div>
        <div class="col s12 m6">
            <h2>Dan Edgar</h2>
            <p>Dan joined Autobarn in June 2010, Dan left the local Mercedes-Benz dealership to join Autobarn and hasn’t looked
                back since. Daily tasks are to carry out routine service and repairs and Dan is also an MOT tester. In his spare time Dan is
                currently building his own Subaru rally car which he will be racing once finished. He also enjoys spending time with friends and
                family and is known to have a large appetite for nice food/
            </p>
        </div>
        <div class="col s2 m2">&nbsp;</div>
    </div>
</div>