
@{
    ViewBag.Title = "SideSteps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color: #F4F4F4; margin-top: 5px;">
    <embed src="https://www.pegasus4x4.com/zwidgets/dealer-website-embed.php?dealer-id=99670035-c255-4764-99fa-d5193b3bbc18&dealer-page-slug=automatic-electric-side-steps" width="100%"
           height="1000px"></embed>
    </div>
